.cuadradomanual{
	background-color:#969B92;
	position:absolute;
	left:0%;
	height:12%;
	width:120%;
	top:0%;
	opacity:100%;


}

.titulopagina{
	font-size:250%;
	font-family:Arial;
	margin-top:0.9%;
	margin-left:40%;

}

.imagen
{
 left:  10%;
 position:relative;
 top: 25%;
 border:solid;


}
