.cuadradomanual1{
	background-color:#969B92;
	position:absolute;
	left:0%;
	height:12%;
	width:150%;
	top:0%;
	opacity:100%;


}



.titulopagina1{
	font-size:250%;
	font-family:Arial;
	margin-top:0.9%;
	margin-left:40%;

}